.container{
  background-color: white;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
  
  @media (max-width:600px){
     /*################## HEADER ############*/

    .header{
      background-color: red;
      display: block;
      margin: auto;
      text-align: center;
      
    }
    .header h1{
    
    }


    .menu{
      
      list-style: none;
      padding: 0;
      
    }

    .menu li{
    

    }

    .ola{
      border: 1px solid rgb(36, 3, 37);
      font-weight: bold; 
      padding: 10px;
      border-radius: 25px;

    }

    .consultoria{
      padding: 10px;
      margin-bottom: 5px;
    }

    .consultoria:hover{
      background-color: rgb(71, 71, 160) ;
      color: white;
      
    }

    .ola:hover{
      background-color: rgb(71, 71, 160) ;
      color: white;
    }

    /*################## CABEÇALHO ############*/

    .cabeçalho{
      background-color: blue;
      max-width: 900px;
      margin: auto;
      padding: 55px 55px 0px 55px;
      text-align: center;
      line-height: 30px;
      
    }

    .cabeçalho h3{
      margin-top: 20px;
     
    }
    

    /*################# Avatar/ Workstation #################*/

    .avatar{
      background-color: yellow;
      text-align: center;
      width: 80%;
      margin: auto;
    }
    .avatar-img{
      width: 250px;
      }

    .div-work{
      text-align: center;
      margin: auto;
      }
    .workstation{
      width: 80%;
    }


  /*############# Apresentação ################*/

  .apresentacao{
    text-align: center;
    margin: auto;
    padding: 60px;
    line-height: 30px;
    background-color: rgb(117, 16, 247);
    color: white;
    padding-bottom: 210px;
  }

  .apresentacao h2{
    margin-bottom: 20px;
    font-size: 18pt;

  }

  .apresentacao p{
    font-size: 17px;
  }

  /*############## Gride #################*/

  .container-grid{
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: 100%;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
  }

  .container-grid h2{
    margin-bottom: 22px;
    padding-top: 20px;
    color: black;

  }


  .container-grid p{
    margin-top: 10px;
    margin-bottom: 40px;
    color: black;
  }

  .container-grid h3{
    color: #7510F7;
  }

  .coluna1{
    background-color: violet;
    height: auto;
    width: 100%;
    padding: 40px;
    margin-top: -150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgb(212, 206, 206);
  }
  .coluna1 ul{
    list-style: none;
  }

  .coluna2{
    background-color: violet;
    height: auto;
    width: 100%;
    padding: 40px;
    border: 1px solid rgb(212, 206, 206);

  }
  .coluna2 ul{
    list-style: none;
  }

  .coluna3{
    background-color: violet;
    height: auto;
    width: 100%;
    padding: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(212, 206, 206);
    margin-bottom: 30px;

  }

  .coluna3 ul{
    list-style: none;
  }

  /*############ Trabalho Recente################*/


  .trabalhos{
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: yellow;
  
  }

  .trabalhos h2{
    margin-bottom: 30px;
  }

  .trabalhos p{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }

  .trabalhos span{
    font-weight: bold;
  }

  /*######## Grid Trabalhos##########*/

  .grid-trabalhos{
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 100%;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
  }

  .grid-trabalhos div{
    height: 290px;
    background-color: yellow;
    border-radius: 20px;
    background-size: cover;
  
  }

  .trabalho1{
    background-image: url('./imagens/Alemanha.jpg');
  }

  .trabalho1:hover{
    opacity: 0.5;
  }

  .trabalho2{
    background-image: url('./imagens/Africa.jpg');
  }

  .trabalho3{
    background-image: url('./imagens/Berlim.jpg');
  }

  .trabalho4{
  background-image: url('./imagens/França.jpg')
  }

  .trabalho5{
    background-image: url('./imagens/Japão.jpg');
  }

  .trabalho6{
    background-image: url('./imagens/New-York.jpg');
  }

  .botão{
   text-align: center;
    
  }

.botão-ver{
  width: 300px;
  margin: auto;
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 25px;
  border-color:rgb(117, 16, 247);
  text-align: center;
  color: #6c00f8;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
}

.botão-ver:hover{
  color: white;
  background-color: #6c00f8;
  transition: 0.2s ease-in; /* transição do efeito devagar*/
}

.hr{
  width: 100%;
  color: red;
}

/*############### Grid-Empresa ##############*/

.subtitulo{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid-empresa{
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
    text-align: center;
    width: 90%;
    line-height: 30px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 80px;
  }

  .grid-empresa div{
    background-color: blue;
    width: 232px;
    height: 94px;
    box-sizing: border-box;
    padding: 10px;
  }

  .netflix,.red{
    width: 80%;
  }


  /*############### Grid-Projetos#################*/

  .grid-projetos{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns:100%;
    text-align: center;
    width: 100%;
    line-height: 30px;
    margin: auto;
    margin-top: -170px;
    box-sizing: border-box;
    margin-bottom: 80px;
  }

  .grid-projetos div{
    height: 290px;
    background-color: yellow;
    border-radius: 20px;
    width: 90%;
    margin: auto;
  }
 








}





  








  
